# IDE, temp files
_notes
._*.*
/dbg/
.project
*.cpf
*.cpfs
*.DS_Store
*.idea

# exclude core
# wire

# exclude composer
vendor

# exclude sensitive files
# site/config.php

# exclude assets
site/assets/cache
site/assets/sessions
site/assets/logs
# site/assets/files